/* .note{
    background-color: rgb(79, 235, 235)!important;
    height: 100%;
}

.login{
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 1%;
    padding: 10%;
    
    background-color: rgb(83, 168, 243);
     */
/* } */
/* .colomns{
    height: 100%;

} */

/* html,
body,
.container-fluid,
.row,
.colomns{
    height: 100%;
} */

/* .row1{
    height: 100%;
} */